html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:grey;
    margin:0;
    padding:0;
}


.header {
  /*
    overflow: hidden;
    background-color: grey;
    padding: 20px 10px;
  */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.header ul {
  display: grid;
  grid-gap:20px;
  padding:0;
  list-style:none;
  grid-template-columns:repeat(3, 1fr);
}
  
.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  background-color: red;
  border:1vw solid black;
  /* margin-right:40px; */
  }

img {
 max-width:100%;
 padding:0;
 margin:0;
}

.boxes div {
  background-color:red;
  width:30vw;
  height:30vh;
  border-radius:1px;
  border-color:black;
  border-style:solid;
  margin:5vw;
}

h3 {
  color:white;
  padding:0;
  margin:0;
  font-size:5vw;
  margin-left:1vw;
  margin-top:2px;
}

.boxes {
  display:grid;
  grid-gap:15px;
  grid-template-areas:
    "box-a box-b"
}