<!-- Grid systemet (Bilder på bilar och info) -->
            <section class="boxes">
                <div class="box-a">
                    <img src="img/audirs6.jpg" alt="">
                    <h3>År:2010</h3>
                    <h3>Mil: 1500</h3>
                    <h3>Audi RS6</h3>
                </div>

                <div class="box-b">
                  <img src="img/bmwm3.jpg" alt="">
                  <h3>År: 2015</h3>
                  <h3>Mil: 2000</h3>
                  <h3>BMW M3</h3>
              </div>
              
              <div class="box-a">
                <img src="img/audirs6.jpg" alt="">
                <h3>År:2010</h3>
            </div>
            </section>
