<!-- Grid systemet (Bilder på bilar och info) -->
            <section class="boxes">
                <div class="box-a">
                    <a href="./klickapabilenrs6.html"><img src="img/audirs6.jpg" class="car" alt=""></a>
                    <h3>År: 2010</h3>
                    <h3>Mil: 1500</h3>
                    <h3>Audi RS6</h3>
                </div>

                <div class="box-b">
                  <a href="./klickapabilenm3.html"><img src="img/bmwm3.jpg" class="car" alt=""></a>
                  <h3>År: 2015</h3>
                  <h3>Mil: 2000</h3>
                  <h3>BMW M3</h3>
              </div>
              
              <div class="box-a">
                <a href="./klickapabilenrs6.html"><img src="img/audirs6-2.jpg" class="car" alt=""></a>
                <h3>År: 2010</h3>
                <h3>Mil: 1500</h3>
                <h3>Audi RS6</h3>
            </div>

            <div class="box-b">
                  <a href="./klickapabilenm3.html"><img src="img/bmwm3-2.jpg" class="car" alt=""></a>
                  <h3>År: 2015</h3>
                  <h3>Mil: 2000</h3>
                  <h3>BMW M3</h3>
              </div>

            <div class="box-a">
                <a href="./klickapabilenrs6.html"><img src="img/audirs6-3.jpg" class="car" alt=""></a>
                <h3>År: 2010</h3>
                <h3>Mil: 1500</h3>
                <h3>Audi RS6</h3>
            </div>

            <div class="box-b">
                  <a href="./klickapabilenm3.html"><img src="img/bmwm3-3.jpg" class="car" alt=""></a>
                  <h3>År: 2015</h3>
                  <h3>Mil: 2000</h3>
                  <h3>BMW M3</h3>
              </div>
            </section>