<!-- Layout (header) -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sälj din bil!</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="favicon.png" type="image/png" />
</head>
<body>
    <div class="container">
            <nav class="header">
                    <ul>
                      <li>
                        <a href="./index.html">  Hem  </a>
                      </li>
                      <li>
                        <a href="./salj.html">  Sälj  </a>
                      </li>
                      <li>
                        <a href="./omoss.html">Om oss</a>
                      </li>
                    </ul>
            </nav>
            <main>
                <%= yield %>
            </main>
    </div>
</body>
</html>