<!-- Om oss - information -->
<section class="omoss">
    <div class="omossbild">
        <img src="./img/omoss.jpg" alt="" class="omoss">
    </div>

    <div class="omoss omosstext">
        <h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ex quae pariatur consequatur, consequuntur in deserunt veniam
        excepturi. Qui, repellendus. Labore non illo praesentium, 
        repellat veritatis perferendis, odit illum earum tenetur sed
        esse deserunt repellendus iste et doloribus libero enim, 
        deleniti maxime quasi! Eligendi animi reiciendis nesciunt unde 
        dicta corporis dolore adipisci vitae voluptates id veritatis sequi, 
        repellat nisi possimus itaque mollitia ab facere. Blanditiis et 
        libero quaerat aliquid sunt minus eum distinctio fugiat iusto.
        </h4>
    </div>

</section>