<!-- Inmatningsfälten -->
<section class="inputfield">

    <div class="input-a">
        <input type="text" placeholder="Bilmodell">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Årsmodell">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Mil">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Hästkrafter">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Typ av bränsle">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Skriv in din spec">
    </div>

    <div class="input-a">
        <input type="text" placeholder="Mer information">
    </div>

    <div class="submit input-a">
        <a href="">Skicka in för granskning</a>
    </div>

    <%# <div class="input-a">
        <input class="checkbox" type="checkbox"><h3 class="checkbox">Backkamera</h3>
    </div> %>
    
</section>