html {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

body {
    background-color:grey;
    margin:0;
    padding:0;
}

a {
  color:white;
  text-decoration:none;
}


.header {
  margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.header ul {
  display: grid;
  grid-gap:20px;
  padding:0;
  list-style:none;
  grid-template-columns:repeat(3, 1fr);
}
  
.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 3vw;
  background-color: red;
  border:2px solid black;
  }

img {
  max-width:100%;
  padding:0;
  margin:0;
  margin-left:auto;
  margin-right:auto;
}

.boxes div {
  background-color:red;
  width:30vw;
  height:23vh;
  border-radius:1px;
  border-color:black;
  border-style:solid;
  margin:5vw;
  margin-top:20px;
}

h3 {
  color:white;
  padding:0;
  margin:0;
  font-size:4vw;
  margin-left:1vw;
  padding-top:5px;
}

.boxes {
  display:grid;
  grid-gap:15px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.inputfield {
  display:grid;
  grid-gap:15px;
  grid-template-areas:
    "input-a";
  margin-left:auto;
  justify-content:center;
  margin-top:5vw;
}

input {
  width:80vw;
  height:6vh;
}

.checkbox {
  width:5vw;
  height:5vh;
  margin:20px;
  display:flex;
  flex-direction:row;
}

.omoss {
  width:90vw;
  margin:auto;
  margin-top:2vh;
}

.omoss h4 {
  text-align:center;
  margin-top:10px;
  font-size:4vw;
  margin:3vw;
}

.omosstext {
  height:50vh;
  background-color:white;
  color:black;
}

.sellpage {
  font-size:5vw;
  margin-left:5vw;
}

.slideshow {
  margin-left:auto;
  justify-content:center;
  margin-top:2vh;
}

.submit {
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  border-radius: 3vw;
  background-color:green;
  border:solid;
  border-color:green;
  margin-top:10vh;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  border-radius: 3vw;
  background-color:green;
  border:solid;
  border-color:green;
  margin-top:10vh;
}

.popup .popuptext {
  position:absolute;
  display:none;
  width: 80vw;
  background-color:rgb(100,100,100);
  text-align: center;
  border-radius: 1vw;
  padding:5px;
  bottom: 125%;
  left: 50%;
  margin-left: -20vw;
}

.popup .show {
  display:block
}